@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f8c8dc, #b7d3e8, #d1e0f0, #f0f7f4);
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

.row a, .forgot a{
    text-decoration: none;
}
.row a:hover, .forgot a:hover{
    text-decoration: underline;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

input.error, .error-text.shake {
    border-color: #dc3545 !important; /* Red border color */
    animation: shake 0.5s ease-in-out;
    border-bottom-width: 2px;
}

input.password.error {
    border-bottom-width: 2px;
}

.error-text {
    color: #dc3545; /* Red color for error messages */
}

.error-border {
    border-color: #dc3545 !important;
    border-bottom-width: 2px;
}

#signUpPassword.error-border,
#confirmPassword.error-border {
    border-bottom-width: 2px !important;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }

    /* Add transition for opacity */
    .form-container {
        transition: opacity 0.6s ease-in-out;
    }

    .form-container.inactive {
        opacity: 0;
        visibility: hidden;  /* Hide the inactive form */
    }

    .form-container.active {
        opacity: 1;
        visibility: visible;
    }

    /* Keep both forms in place, no swapping */
    .box-area.switch .left-box,
    .box-area.switch .right-box {
        transform: none; /* Disable the sliding effect on smaller screens */
    }
}